<main role="main" class="container">

  <%= render 'header' %>

  <%= render 'group_nav' %>

  <div class="my-3 p-3 bg-white rounded shadow-sm">
    <h6 class="border-bottom border-gray pb-2 mb-0">Update Group</h6>
    <%= render 'form' %>
  </div>



</main>

<%= render 'styles' %>
