<main role="main" class="container">
  <div class="my-3 p-3 bg-white rounded shadow-sm">
    <h6 class="border-bottom border-gray pb-2 mb-0"><%= fa_icon "users", class: "mr-1" %> New Group</h6>
    <div class="pt-3">
      <div class="form-label-group">
        You will be <strong>admin</strong> <%= fa_icon "user-plus", class: "mr-1" %> of this group.
      </div>
      <%= render 'form' %>
    </div>
  </div>
</main>