<main role="main" class="container">

  <%= render 'header' %>

  <%= render 'group_nav' %>

  <% if @group.users.include?(current_user) || @group.admin_id == current_user.id %>
    <%= render 'messages' %>
  <% else %>
    <%= render 'no_permission' %>
  <% end %>



</main>

