<main role="main" class="container">

  <%= render 'header' %>

  <%= render 'group_nav' %>

  <% if @group.memberships.where(active:true).pluck(:user_id).include?(current_user.id) || @group.admin_id == current_user.id %>
    <%= render 'messages' %>
  <% else %>
    <%= render 'no_permission' %>
  <% end %>



</main>

