<main role="main" class="container">

  <%= render 'header' %>

  <%= render 'user_nav' %>

  <div class="my-3 p-3 bg-white rounded shadow-sm">
    <h6 class="border-bottom border-gray pb-2 mb-0">Edit Profile</h6>
    <div class="pt-3">
  <%= render 'form' %>
    </div>
  </div>

</main>

<%= render 'styles' %>

<div>Icons made by <a href="https://www.freepik.com/?__hstc=57440181.efdfea0f403a5df447a66c6c85938a3b.1561300076510.1561300076510.1561300076510.1&__hssc=57440181.3.1561300076512&__hsfp=3490612830" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/"                 title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/"                 title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
