<main role="main" class="container">
  <div class="my-3 p-3 bg-white rounded shadow-sm">
    <h6 class="border-bottom border-gray pb-2 mb-0"><%= fa_icon "search-minus", class: "mr-1" %> Not Found!</h6>
  </div>
</main>
