<main role="main" class="container">

  <% if signed_in? %>

    <%= render 'header' %>

    <%= render 'user_nav' %>

    <%= render 'groups' %>

    <%= render 'suggestions' %>

  <% end %>

</main>



